
@media(max-width:1000px){
    .nozma-text{
        flex-wrap: wrap;
    }
}

@media(max-width:500px){
    .pc{
        max-width: 70px;
        top: 300px;
        right: 15px;
    }
    
    .mouse{
        max-width: 70px;
        top: 270px;
        
    }
    
    .nav__ul-link{
        font-size: 20px;
    }
    
    ul{
        display: flex;
        flex-direction: column;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    
    .header__online{
        padding-top: 120px;
    }
    
    .header__online-text,
    .header__online-text1{
        font-size: 20px;
    }
    
    .header__online-adv{
        font-size: 35px;
        padding-top: 10px;
        padding-bottom: 0px;
    }
    
    .header__online-text11{
        font-size: 20px;
        padding-top: 10px;
        text-align: center;
    }
    .header__online-text11:first-child{
        font-size: 20px;
        padding-top: 10px;
    }
    
    .section__h2{
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 25px;
    }
    
    .teacher{
        margin-top: 10px;
    }
    
    .teacher-text{
        font-size: 23px;
        padding-top: 10px;
    }
    
    .teacher1{
        font-size: 25px;
        padding-top: 10px;
    }
    
    .teacher-about{
        font-size: 20px;
        padding-top: 10px;
    }
    
    .nazima,
    .shahlo{
        height: 270px;
    }
    
    .teacher10{
        font-size: 25px;
        padding-top: 10px;
    }
    
    .prem{
        width: 35px;
    }
    
    .woman{
        max-width: 500px;
        width: 100%;
    }
}

@media(max-width:300px){
    .pc{
        max-width: 70px;
        top: 300px;
        right: 15px;
    }
    
    .mouse{
        max-width: 70px;
        top: 270px;
        
    }
    
    .nav__ul-link{
        font-size: 20px;
    }
    
    ul{
        flex-direction: column;
        padding-top: 10px;
        padding-bottom: 10px;
        
    }
    
    .header__online{
        padding-top: 120px;
    }
    
    .header__online-text,
    .header__online-text1{
        font-size: 20px;
    }
    
    .header__online-adv{
        font-size: 35px;
        padding-top: 10px;
        padding-bottom: 0px;
    }
    
    .header__online-text11{
        font-size: 20px;
        padding-top: 10px;
        text-align: center;
    }
    .header__online-text11:first-child{
        font-size: 20px;
        padding-top: 10px;
    }
    
    .section__h2{
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 25px;
    }
    
    .teacher{
        margin-top: 10px;
    }
    
    .teacher-text{
        font-size: 23px;
        padding-top: 10px;
    }
    
    .teacher1{
        font-size: 25px;
        padding-top: 10px;
    }
    
    .teacher-about{
        font-size: 20px;
        padding-top: 10px;
    }
    
    .nazima,
    .shahlo{
        height: 270px;
    }
    
    .teacher10{
        font-size: 25px;
        padding-top: 10px;
    }
    
    .prem{
        width: 35px;
    }
    
    .woman{
        max-width: 350px;
        width: 100%;
    }
}

