*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
    max-width: 1000px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

body{
    font-family: 'Roboto', sans-serif;
    
}

nav{
    width: 100%;
    text-align: center;
    align-items: center;
    background-color: black;
    position: fixed;
    z-index: 3;
}

.nav__ul-link{
    color: #f64c72;
    font-size: 24px;
    font-weight: 600;
    transition: 0.3s;
}

header,
section,
footer{
    width: 100%;
}

.header__online{
    background-color: #659dbd;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding-top: 80px;
    text-align: center;
    z-index: 1;
    flex-wrap: wrap;
}
.header__online-text{
    font-size: 20px;
    margin-top: 5px;
    font-weight: 600;
    color: #fbeec1;
    z-index: 1;
}

.header__online-text:first-child{
    margin-top: 0px;
}

.header__online-text1,
.header__online-text11{
    margin-top: 5px;
    font-size: 25px;
    font-weight: 600;
    color: #fbeec1;
    z-index: 2;
}

.header__online-img{
    max-width: 500px;
    width: 100%;
    margin: auto;
    z-index: 2;
}

.header__online-adv{
    color: #edf5e1;
    font-size: 50px;
    padding-top: 20px;
    padding-bottom: 10px;
    text-align: center;
}

.header__online__div1{
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
    width: 100%;
    flex-direction: row;
    background-color: #659dbd;
    padding: 5px;
}

.header__online-text11:first-child{
    padding-top: 80px;
}

.header__online-text11{
    padding-top: 80px;
    font-size: 30px;
}

.header__online__div1-img{
    max-width: 500px;
    width: 100%;
}

.pc,
.mouse{
    position: absolute;
    right: 50px;
    top: 150px;
    max-width: 200px;
    width: 100%;
}

.mouse{
    left: 5px;
    top: 300px;
}

section{
    background-color: #659dbd;
    padding: 5px;
}

.section__h2{
    color: #fbeec1;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 40px;
    font-weight: 600;
}

.section__divs{
    max-width: 1200px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: auto;
}

.section__divs-1{
    max-width: 1200px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.teacher{
    max-width: 500px;
    width: 100%;
    background-color: #1f2833;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 20px;
    flex-wrap: wrap;
}

.nazima{
    max-width: 300px;
    width: 100%;
    border-radius: 30px;
    height: 350px;
}

.teacher1{
    color: #66fcf1;
    padding-top: 20px;
    font-size: 27px;
    font-weight: bold;
}

.teacher-text{
    color: #45a29e;
    font-size: 28px;
    padding-top: 15px;
}

.teacher-about{
    color: #45a29e;
    font-size: 25px;
    padding-top: 15px;
}

.teacher-btn{
    max-width: 200px;
    width: 100%;
    margin-top: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color:black ;
    border-radius: 30px;
    color: white;
    font-size: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

.body-nazima{
    
    text-align: center;
    background-color: black;
    padding: 10px;
    
}

.nozma{
   max-width: 500px;
   width: 100%; 
   align-items: center;
   height: 600px;
   margin-top: 20px;
   border-radius: 20px;
}

.nozma-text{
    max-width: 1200px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: auto;
    
}

.div-nozma{
    padding-top: 40px;
    font-size: 40px;
    font-weight: bold;
    color: white;
}

.nazima-text{
    padding-top: 60px;
    font-size: 30px;
    color: white;
    font-weight: bold;
    padding-left: 20px;
}

.why-nazima{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.shahlo{
    max-width: 300px;
    width: 100%;
    border-radius: 30px;
    height: 350px;
}

.teacher10{
    color: #66fcf1;
    padding-top: 20px;
    font-size: 25px;
    font-weight: bold;
}

.premier{
    max-width: 1200px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: auto;
    flex-wrap: wrap;
}

.prem{
    max-width: 70px;
    width: 100%;
}

.askQuestions{
    max-width: 1200px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: auto;
    flex-wrap: wrap;
}

.woman{
    max-width: 500px;
    width: 100%;
}

.js-btn{
    position: fixed;
    bottom: -100%;
    right: 30px;
    transition: 0.3s;
}

.js-btn.show{
    bottom: 30px;
    font-size: 30px;
    background-color: white;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    border-radius: 50%;
}